<% form_object = (defined?(test) && !question.persisted?) ? [test, question] : question %>

<%= form_with model: form_object, local: true do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Текст вопроса" %>
  </div>

  <div class="actions">
    <%= f.submit(submit_text || (question.new_record? ? "Создать вопрос" : "Сохранить вопрос")) %>
  </div>
<% end %>
