<%= form_with model: [test, question], local: true do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Текст вопроса" %>
  </div>

  <div class="actions">
    <%= f.submit question.persisted? ? "Обновить вопрос" : "Создать вопрос" %>
  </div>
<% end %>
