<% form_with model: [test, question] do |f| %>
  <div class="field">
    <%= f.label :body, "Текст вопроса" %>
  </div>

  <div class="actions">
    <%= f.submit "Создать вопрос" %>
  </div>
<% end %>
