<h1>Test Result</h1>
<p>Test: <%= @test_passage.test.title %></p>
<p>Score: <%= @test_passage.success_percentage %>%</p>
<p>Status: <%= @test_passage.passed? ? "Passed" : "Failed" %></p>
<%= link_to "Back", tests_path %>
