 <footer>
    <p> <%= current_year %>, Roma Vega </p>
    <p>
      Проект:
      <%= link_to 'TestGuru', github_url('RomaVega', 'test-guru'), target: 'blank', rel: 'noopener' %>
      - приложение для создания и прохождения тестов.
    </p>
    <p>
      <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank', rel: 'noopener' %>
    </p>
    </footer>
