<h1>Answer</h1>
<p><strong>Body:</strong> <%= @answer.body %></p>
<p><strong>Correct:</strong> <%= @answer.correct ? "Yes" : "No" %></p>
<%= link_to "Edit", edit_answer_path(@answer) %>
<%= link_to "Back", edit_question_path(@answer.question) %>
